<div class="jumbotron text-center">
    <h1>Mensajes Dominicales</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
              <img class="card-img-top" src="assets/ricardo.png" alt="">

              <div class="card-body">
                  <h5 class="card-title">Ricardo Kummerfeldt</h5>
                  <h6>Pastor General</h6>
                  <p class="card-text">
                    Laboris ex sit aliqua irure ut reprehenderit dolore do consectetur dolore. Consectetur cillum Lorem aliqua minim proident aliquip cupidatat commodo irure. Mollit laborum tempor duis minim sint deserunt consectetur nulla officia qui. Commodo magna do deserunt anim est. Ut voluptate qui fugiat voluptate ex adipisicing aliquip ut minim exercitation dolor proident consectetur nostrud.
                  </p>
              </div>
          </div>
      </div>   
      <div class="col-lg-4 mb-4">
          <div class="card">
              <img class="card-img-top" src="assets/fito.png" alt="">
              

              <div class="card-body">
                  <h5 class="card-title">Adolfo Franco</h5>
                  <h6>Pastor</h6>
                  <p class="card-text">
                    Deserunt adipisicing dolor excepteur magna non culpa proident labore. Eiusmod nulla proident do in Lorem esse eiusmod commodo commodo cupidatat ea nisi reprehenderit laborum. Amet anim proident ex voluptate ad ipsum cupidatat officia dolor incididunt Lorem eu ea incididunt. Eu incididunt adipisicing commodo est ea laborum occaecat adipisicing consectetur eiusmod nisi ad eu.
                  </p>
              </div>
          </div>
      </div>             
    </div>    
</div>