
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

  <footer class="text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section >
      <div class="row">
        <div class="col-md-8 text-dark p-3">

            <p>Iglesia Cristiana Jesucristo</p>
            <p>11 Calle 14-85 Zona 11, Carabanchel</p>
            <p>PBX 2474-0013</p>
        </div>          
          <div class="col-md-4">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.facebook.com/IglesiaCristianaJesucristo"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <!-- <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a> -->

            <!-- Google -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.google.com/search?q=iglesia+cristiana+jesucristo&source=hp&ei=M65FYv2VIIuckPIP8baTKA&iflsig=AHkkrS4AAAAAYkW8Q8taGs6L4IdA85Nrh4j8q_H1fnF_&ved=0ahUKEwi9--bqu_D2AhULDkQIHXHbBAUQ4dUDCAc&uact=5&oq=iglesia+cristiana+jesucristo&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgUIABCABDIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46CwguEIAEEMcBEKMCOgsILhCABBDHARCvAToFCC4QgAQ6CAguEIAEENQCOggIABCABBDJAzoFCAAQkgM6BggAEAoQEzoNCAAQyQMQFhAKEB4QEzoKCAAQFhAKEB4QEzoKCC4QxwEQrwEQDToECAAQDToKCC4QxwEQ0QMQDVAAWJMlYNomaAVwAHgCgAHCBogBvTGSAQwwLjI0LjQuMi42LTGYAQCgAQE&sclient=gws-wiz"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.instagram.com/icjguatemala/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.youtube.com/c/IglesiaCristianaJesucristo"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fa-brands fa-youtube"></i></a>
        </div>      
      </div>



    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <!-- Copyright -->
</footer>
  
<!-- End of .container -->
