<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--all above is necessary for bootstrap to function in this snippet-->
  
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Instituto Bíblico Jesucristo</h3>
        <p>Lorem Ipsum</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Taller de Matrimonios</h3>
        <p>Lorem ipsum</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]"  alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Vigilia y Torre de oración</h3>
        <p>Lorem Ipsum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>Culto de viernes.</h3>
        <p>Lorem Ipsum.</p>
      </div>
    </ng-template>
  </ngb-carousel>  



<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <h3>Nuestra visión</h3>
      <p style="text-align:justify">Alcanzar la unidad de la fe y del conocimiento pleno del Hijo de Dios, a la madurez del varón perfecto, a la medida de la estatura de la plenitud de Cristo.</p>
    </div>
    <div class="col-sm-6">
      <h3>Nuestra misión</h3>
      <p style="text-align:justify">Conscientes que somos miembros en particular  del Cuerpo de Cristo, nuestra Misión es: Desempeñar con excelencia, entusiasmo y contentamiento la función dentro del área ministerial donde el Espíritu Santo en Su soberana sabiduría nos ha ubicado como congregación local, en función de la Iglesia Universal, hasta alcanzar el premio del supremo llamamiento de Dios en Cristo Jesús. </p>
    </div>
  </div>
  <div class="row"> 
    <!-- <div class="col-sm-12">
      <h3>Declaración de Fe</h3>
      <h4>Creemos</h4>
      <p style="text-align:justify">En un Dios Creador y Sustentador del Universo, eternamente existente en tres personas: Padre, Hijo y Espíritu Santo.</p>
      <p style="text-align:justify">En la Deidad del Señor Jesucristo, su concepción virginal, vida perfecta, muerte redentora, resurrección corporal, exaltación actual a la diestra de Dios y Su regreso personal.</p>
      <p style="text-align:justify">En la Deidad y Persona del Espíritu Santo, actuando en los hombres, capacitándolos y dándoles poder para vivir una vida de santidad y servicio fructífero.</p>
      <p style="text-align:justify">Que la Biblia es la Palabra de Dios divinamente inspirada y con autoridad, y la única regla infalible de fe y práctica.</p>
      <p style="text-align:justify">Que todos los hombres han pecado, son por lo tanto culpables delante de Dios y están bajo la ira de Dios.</p>
      <p style="text-align:justify">Que mediante la muerte de Su Hijo Jesucristo, Dios en Su amor, proveyó un Camino por el cual puede tener misericordia del pecador; así, a través del arrepentimiento y la fe en Cristo, el hombre es librado del juicio de Dios y renace para vida eterna.</p>
      <p style="text-align:justify">En la resurrección corporal de todos los muertos. Los salvos recibirán vida eterna en presencia de Cristo y los incrédulos recibirán perdición eterna.</p>
      <p style="text-align:justify">Que la iglesia debe estar formada por creyentes genuinos, cuya misión, con Cristo por cabeza, es comunicar el Evangelio a todo el mundo.</p>
    </div> -->
    <div class="col-sm-12">
      <div class="container-fluid text-center">
        <h2>DECLARACIÓN DE FE</h2>
        <h4>Creemos</h4>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <img src="assets/shamrock.png" width="100" height="100">
            <h4>DIOS</h4>
            <p>En un Dios Creador y Sustentador del Universo, eternamente existente en tres personas: Padre, Hijo y Espíritu Santo.</p>
          </div>
          <div class="col-sm-4">
            <img src="assets/jesus.png" width="100" height="100">
            <h4>DEIDAD</h4>
            <p>En la Deidad del Señor Jesucristo, su concepción virginal, vida perfecta, muerte redentora, resurrección corporal, exaltación actual a la diestra de Dios y Su regreso personal.</p>
          </div>
          <div class="col-sm-4">
            <img src="assets/dove.png" width="100" height="100">
            <h4>ESPÍRITU SANTO</h4>
            <p>En la Deidad y Persona del Espíritu Santo, actuando en los hombres, capacitándolos y dándoles poder para vivir una vida de santidad y servicio fructífero.</p>
          </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/book.png" width="100" height="100">
              <h4>BIBLIA</h4>
              <p>Que la Biblia es la Palabra de Dios divinamente inspirada y con autoridad, y la única regla infalible de fe y práctica.</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/bussiness-man.png" width="100" height="100">
              <h4>HOMBRE</h4>
              <p>Que todos los hombres han pecado, son por lo tanto culpables delante de Dios y están bajo la ira de Dios.</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/cross.png" width="100" height="100">
              <h4>CRUZ</h4>
              <p>Que mediante la muerte de Su Hijo Jesucristo, Dios en Su amor, proveyó un Camino por el cual puede tener misericordia del pecador; así, a través del arrepentimiento y la fe en Cristo, el hombre es librado del juicio de Dios y renace para vida eterna.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/resurrection.png" width="100" height="100">
              <h4>RESURRECCIÓN</h4>
              <p>En la resurrección corporal de todos los muertos. Los salvos recibirán vida eterna en presencia de Cristo y los incrédulos recibirán perdición eterna.</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/church.png" width="100" height="100">
              <h4>IGLESIA</h4>
              <p>Que la iglesia debe estar formada por creyentes genuinos, cuya misión, con Cristo por cabeza, es comunicar el Evangelio a todo el mundo.</p>
            </div>
          </div>
        </div>      
    </div>
  </div>
</div>
