<div class="jumbotron jumbotron-fluid" style="background:transparent !important">
    <div class="jumbotron text-center">
        <h1>Predicadores</h1>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/jorge.png" alt="">

                <div class="card-body">
                    <h5 class="card-title">Jorge Chacón</h5>
                    <p class="card-text">
                      Laboris ex sit aliqua irure ut reprehenderit dolore do consectetur dolore. Consectetur cillum Lorem aliqua minim proident aliquip cupidatat commodo irure. Mollit laborum tempor duis minim sint deserunt consectetur nulla officia qui. Commodo magna do deserunt anim est. Ut voluptate qui fugiat voluptate ex adipisicing aliquip ut minim exercitation dolor proident consectetur nostrud.
                    </p>
                </div>
            </div>
        </div>   
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/silvia.png" alt="">
                

                <div class="card-body">
                    <h5 class="card-title">Silvia de Chacón</h5>
                    <p class="card-text">
                      Deserunt adipisicing dolor excepteur magna non culpa proident labore. Eiusmod nulla proident do in Lorem esse eiusmod commodo commodo cupidatat ea nisi reprehenderit laborum. Amet anim proident ex voluptate ad ipsum cupidatat officia dolor incididunt Lorem eu ea incididunt. Eu incididunt adipisicing commodo est ea laborum occaecat adipisicing consectetur eiusmod nisi ad eu.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/hno_rigo.png" alt="">

                <div class="card-body">
                  <h5 class="card-title">Rigoberto Castellanos</h5>
                  <p class="card-text">
                    Amet est ea velit officia proident eiusmod mollit ad magna sint ullamco. Quis occaecat anim eiusmod tempor sunt veniam ipsum est anim ad ex nostrud culpa. Pariatur deserunt do officia deserunt irure excepteur labore ad est amet elit incididunt fugiat ad.
                  </p>
              </div>
            </div>
        </div>               
      </div>
      <div class="row">

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="assets/ada_foto.png" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Ada de Cabrera</h5>
                        <p class="card-text">
                            Esse id consequat irure tempor cillum sint dolor. Enim deserunt quis exercitation consequat minim in occaecat officia fugiat ex et quis do. Deserunt voluptate nostrud duis exercitation ad aute mollit. Mollit pariatur consectetur sint ea officia consectetur occaecat culpa sunt commodo do qui.
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="assets/ivan.png" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Iván España</h5>
                        <p class="card-text">
                        Occaecat commodo ipsum proident ipsum voluptate irure amet exercitation ut aute sit do. Excepteur veniam commodo aute labore culpa ea nisi ad voluptate veniam sint nostrud cupidatat labore. Tempor qui culpa exercitation nulla ipsum duis in nulla nostrud aliqua adipisicing ullamco velit Lorem. Dolor in qui laboris ut reprehenderit proident sunt ex. Laborum eu officia sunt occaecat in cillum eiusmod nostrud velit ipsum consequat aliquip.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="assets/carlosnitsch.png" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Carlos Nitsch</h5>
                        <p class="card-text">
                            Deserunt enim aute elit consequat. Non incididunt velit duis minim esse. Duis voluptate aute ut sunt cillum laborum sunt in. Id adipisicing occaecat laboris ullamco ex exercitation ullamco eu. Id duis occaecat non nulla est ad in et et. Laborum fugiat dolore nulla est eiusmod. In nostrud aute dolore quis tempor Lorem cupidatat incididunt eiusmod.
                        </p>
                    </div>
                </div>
            </div>      
      </div>
      <div class="row">

            <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/natan_img.png" alt="">

                <div class="card-body">
                    <h5 class="card-title">Natán Castañeda</h5>
                    <p class="card-text">
                        Enim velit reprehenderit consequat excepteur sunt tempor aliqua dolore deserunt eu aliqua. Fugiat aliqua sit id sint. Dolore officia elit laboris nisi. Aute laborum officia quis est. Elit exercitation fugiat ut est labore cupidatat ipsum ullamco culpa. Quis consequat do consequat amet aute exercitation velit.
                    </p>
                </div>
            </div>
        </div> 
      </div>
  </div>
  </div>
